/* ==========================================================================
  Custom Properties
========================================================================== */

:root {
  --primary-color: #4f46e5;
  --primary-color-dark: #4338ca;
  --text-dark: #334155;
  --text-light: #f8fafc;

  --font-sans: "Avenir Next", Arial, Gadget, sans-serif;
  --font-serif: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond,
    "Times New Roman", serif;
}

/* ==========================================================================
Sensible defaults
========================================================================== */

*,
*:before,
*:after {
  box-sizing: border-box;
}

::selection {
  background-color: var(--primary-color);
  color: var(--text-light);
}

html,
body {
  height: 100%;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-serif);
  margin: 0;
  color: var(--text-dark);
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

img,
picture {
  max-width: 100%;
  display: block;
}

/* ==========================================================================
  Typography
========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sans);
  line-height: 1;
}

h1 {
  font-size: 4em;
  color: var(--primary-color);
  margin-bottom: 0.2em;
}

h2 {
  font-size: 2em;
}

h3 {
  margin: 1.5em 0 0.25em 0;
}

p {
  font-size: 1.25em;
}

a {
  color: var(--primary-color);
}

a:hover {
  color: var(--primary-color-dark);
}

hr {
  border: 0;
  height: 1px;
  background-color: var(--text-dark);
  margin: 2em 0;
}

/* ==========================================================================
  Forms
========================================================================== */

form {
  font-family: var(--font-sans);
  width: 100%;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
  padding: 0.6em 0.6em;
  font-family: var(--font-sans);
  font-size: 1em;
  width: 100%;
  border: 1px var(--text-dark) solid;
}

input[type="text"]:focus,
textarea:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select:focus {
  border: 1px var(--primary-color) solid;
  outline: 0;
}

input[type="text"],
input[type="email"],
input[type="password"],
button,
input[type="submit"],
input[type="reset"],
textarea,
select {
  border-radius: 0.25em;
}

textarea {
  padding: 0.6em 0.6em;
  font-size: 1.231em;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px var(--text-dark) solid;
  line-height: 1.6em;
}

label {
  margin: 1.4em 0 0.4em 0;
  display: block;
}

button,
input[type="submit"],
input[type="reset"] {
  margin-top: 1em;
  border: 0;
  background-color: var(--primary-color);
  color: var(--text-light);
  font-family: var(--font-sans);
  font-size: inherit;
  font-weight: bold;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 1em 2em;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

button:not(:last-child),
input[type="submit"]:not(:last-child),
input[type="reset"]:not(:last-child) {
  margin-right: 0.5em;
}

button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: var(--primary-color-dark);
}

input[type="checkbox"],
input[type="radio"] {
  margin-top: 1.4em;
  width: 1.4em;
  height: 1.4em;
}

/* ==========================================================================
  Lists
========================================================================== */

ul {
  margin: 2em 0;
  list-style-type: circle;
}

li {
  line-height: 1.8em;
  font-family: var(--font-sans);
}

/* ==========================================================================
  Tables
========================================================================== */

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: var(--primary-color);
  color: var(--text-light);
}

th,
td {
  border: var(--primary-color-dark) solid;
  padding: 0.7em;
}
td:hover {
  cursor: pointer;
}

tr:hover,
tr:nth-child(odd):hover {
  background-color: #fdfdea;
}

tr:nth-child(odd) {
  background-color: #f3f3f3;
}

/* ==========================================================================
  Layout Elements
========================================================================== */

section {
  margin: 4rem 0;
}

footer {
  margin-top: 2em;
  justify-self: flex-end;
  width: 100%;
  font-family: var(--font-sans);
  font-size: 0.8em;
  text-align: center;
  background-color: var(--text-dark);
  color: var(--text-light);
  padding: 2em;
}

/* ==========================================================================
  Custom/Alternative Styles
========================================================================== */

.alt {
  background-color: transparent;
  border: 1px var(--primary-color) solid;
  color: var(--text-dark);
}

.alt:hover {
  background-color: transparent;
  border: var(--primary-color-dark) solid;
  color: var(--primary-color);
}

/* ==========================================================================
  Media queries
========================================================================== */

@media screen and (max-width: 550px) {
  button,
  input[type="submit"],
  input[type="reset"] {
    width: 100%;
  }
}
